<html>
<head>
    <title>推荐引擎</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/recommend.js"></script>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#menu1">按用户推荐商品</a></li>
            <li><a href="#menu2">按商品推荐用户</a></li>
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <div class="input-group col-lg-12" style="margin-top:0px positon:relative">
                    <input id="user-input" type="text" class="form-control" placeholder="请输入用户id" />
                    <span class="input-group-btn">  
                      <button id="menu1-search" class="btn btn-info btn-search">查找</button> 
                    </span>
                </div>
                <ul id="menu1-item-result" class="list-group">
                    <!--
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                -->
                </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="input-group col-md-3" style="margin-top:0px positon:relative">
                    <input type="text" class="form-control" placeholder="请输入商品id" />
                    <span class="input-group-btn">  
                      <button id="menu2-search" class="btn btn-info btn-search">查找</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
