<html>

<head>
    <title>推荐引擎</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/recommend.js"></script>
</head>

<body>
    <div class="alert alert-success d-none" id="success-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
    <div class="alert alert-danger d-none" id="danger-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
    <div class="alert alert-info d-none" id="info-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#menu1">按用户推荐商品</a></li>
            <li><a href="#menu2">按商品推荐用户</a></li>
            <label class="btn btn-default btn-file pull-right">
                + 上传
                <input type="file" id="file-input" style="display: none;">
            </label>
            <div id="error-alert" style="margin-top:10px;display:none"></div>
            <div id="success-alert" class="alert alert-success" style="margin-top:10px;display:none"></div>
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <div class="input-group col-lg-12" style="margin-top:0px positon:relative">
                    <input id="user-input" type="text" class="form-control" placeholder="请输入用户id" />
                    <span class="input-group-btn">  
                      <button id="menu1-search" class="btn btn-info btn-search">查找</button> 
                    </span>
                </div>
                <ul id="menu1-item-result" class="list-group">
                </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="input-group col-lg-12" style="margin-top:0px positon:relative">
                    <input id="item-input" type="text" class="form-control" placeholder="请输入商品id" />
                    <span class="input-group-btn">  
                      <button id="menu2-search" class="btn btn-info btn-search">查找</button>
                    </span>
                </div>
                <ul id="menu2-user-result" class="list-group">
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
